# Port của server
PORT=8080
HOST=localhost

# MongoDB connection URI
# Ví dụ local:
# MONGO_URI=mongodb://..........

# Secret key JWT
JWT_SECRET=<your_jwt_secret>
JWT_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_IN=7d

# Node environment
NODE_ENV=development


